@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, table, caption,      
tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins,      
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,      
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,      
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li,      
fieldset, form, label, legend {      
    vertical-align: baselinebaseline;      
    font-family: "寰蒋闆呴粦" ;      
    font-weight: inherit;      
    font-style: inherit;      
    font-size: 100%;      
    outline: 0;      
    padding: 0;      
    margin: 0;      
    border: 0;      
}   
h1{ font-size:14px; font-weight:bold;}
:focus {      
    outline: 0;      
}
body {         
    line-height:24px;      
	font-size:12px;
	 color:#666;
	font-family: "寰蒋闆呴粦";      
	 background:  url(../images/index_01.jpg) repeat-x top center;
}      
ol, ul {      
    list-style: none;      
}      
      
blockquote:before, blockquote:after, q:before, q:after {      
    content: "";      
}      
blockquote, q {      
    quotes: "" "";      
} 
/***Link**/
a:link{color:#666;text-decoration: none;}
a:visited{color:#666;text-decoration:none;}
a:hover{color:#FF8A00;text-decoration:none;}
a:active{color:#666;text-decoration:none;}

.list12 a:link{color:#333; font-size:12px;}
.list12 a:visited{color:#333;font-size:12px;}
.list12 a:hover{color:#ff4800;font-size:12px;}
.list12 a:active{color:#333;font-size:12px;}

.list12_a a:link{color:#fff; font-size:12px;}
.list12_a a:visited{color:#fff;font-size:12px;}
.list12_a a:hover{color:#ff4800;font-size:12px;}
.list12_a a:active{color:#fff;font-size:12px;}

.list12_b a:link{color:#0057a0; font-size:12px;}
.list12_b a:visited{color:#0057a0; font-size:12px;}
.list12_b a:hover{color:#ff4800; font-size:12px;}
.list12_b a:active{color:#0057a0; font-size:12px;}

.list14 a:link{color:#0057a0; font-size:14px;}
.list14 a:visited{color:#0057a0;font-size:14px;}
.list14 a:hover{color:#ff4800;font-size:14px;}
.list14 a:active{color:#0057a0;font-size:14px;}

.font_12_a{ color:#FFF;}
.font_12_a a{color:#FFF;}
.font_12_a a:hover{ color:#F60; text-decoration:none;}

.font_yl{ font-family:}

.dbk{ display:block;}
.left{ float:left;}
.right{ float:right;}

.hide{ display:none;}
.show{ display:block;}

.clearfix:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clear{content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}  /*涓嶅楂樻竻娴姩*/

.valign{text-align:center;vertical-align:middle;margin-left:auto;margin-right:auto;border:0;} /*鐢ㄤ簬table鐨則d涓�*/

.wfull{ width:100%;}
.pr{ position:relative;}
.pa{ position:absolute;}
.fb{ font-weight:bold;}



/* CSS绌虹櫧 */
.blank10{height:10px;margin:0 auto;font-size:1px;clear:both;}
.blank1{height:1px;margin:0 auto;font-size:1px;clear:both;}

.top{ width:960px; height:99px; margin:0 auto; background:url(../images/index_02.jpg); position:relative;}
.top .wz{ width:330px; height:30px; position:absolute;  right:10px;} 
.nav{ height:25px; padding:17px 0;}
.nav ul{}
.nav ul li{ width:120px; float:left; border-right:1px dotted #ccc; text-align:center; font-size:14px;}

#container { width: 950px; height: 35px; padding:12px 0; position: relative; overflow: hidden; margin: auto; font-family: "寰蒋闆呴粦"; }
#container li { display: block; float: left; width: 115px; height: 32px;  line-height: 32px; padding-right: 2px; line-height: 32px; list-style: none; }
#container li a { color: #292929; text-decoration: none; display: block; position: relative; border-right:1px dotted #ccc; width: 105px; height: 32px; padding-right: 10px; font-size: 14px; font-weight: bold; text-align: center; }
#container li a:hover { background:url(../images/index_04.jpg) no-repeat center center; color:#FFF ;  }
#container li a span { display: block; position: absolute; left: 10px; top: 0; font-weight: normal; font-size: 10px; -webkit-text-size-adjust: none; opacity: 0.6; filter: alpha(opacity=60); }
#buoy { position: absolute; width: 115px; height: 2px; background: #05cbf5; bottom: 0px; left: -157px; }

.wrap994{width:994px; margin:0 auto;}
.banner{ width:994px; height:356px; text-align: center;}
.main{ width:960px; margin:10px auto 0 auto;}
.main_left{ float:left; width:728px;}
.news{ width:294px; float:left}
.news .tiitle{ width:294px; height:33px; background:url(../images/index_09.jpg) no-repeat center 1px; position:relative;}
.news .tiitle .more{ position:absolute; width:31px; height:5px; top:12px; right:10px;}
.news .mod{ height:160px; overflow:hidden;width:274px; margin-top:5px; background:url(../images/index_11.jpg); height:157px; padding:10px;}
.news .mod ul{}
.news .mod ul li{ line-height:26px; border-bottom:1px dotted #ccc; padding:2px 0; text-indent:15px;}
.gsjj { float:right; width:424px;}
.gsjj .title{ background:url(../images/index_10.jpg) no-repeat; width:424px; height:33px; position:relative;}
.gsjj .title .more{ position:absolute; width:31px; height:5px; top:12px; right:10px;}
.gsjj .mod{ width:404px; height:157px; padding:10px; margin-top:5px;}
.mian-right{ float:right; width:222px;}

/*浜у搧灞曠ず*/
.cpzs{ width:960px; margin-top:10px;}
.cpzs .title{ width:960px; background:url(../images/index_16.jpg); height:31px;}

/*棣栭〉浜у搧宸﹀彸鍒囨崲鏍峰紡*/
#featureContainer {margin: 0 auto; width: 960px; background:url(../images/index_17.jpg); height:152px;}
#wrap {overflow: hidden;}
#load {text-indent: -9999px; margin: 0 auto; width: 960px; display: none;}
#feature { position: relative;}
#feature .button { width: 870px; position: absolute; left: 0px; top: 72px;}
#feature .prev { position:absolute; text-indent: -9999px; width: 30px; display: block; float: left; height: 48px; top: 35px; left:5px !important; left:-30px; background: url(../images/feature_left.gif) center top;}
#feature .next {position:absolute; text-indent:-9999px; width:30px; display:block; background:url(../images/feature_right.gif) center top; float:right; height:48px; top:35px; right:5px;}
#feature .prev:hover { background-position: center bottom;}
#feature .next:hover {background-position: center bottom;}
.featureUL { position:relative; padding:0; list-style-type:none; margin:0 auto; float:left; left:0;}
.featureBox { width: 163px; height: 142px; margin: 5px;}
.featureBox img{ width: 157px; height: 105px;  padding: 2px; border: 1px solid #ccc;}
.featureBox p{ text-align: center;}
#botton-scroll { z-index:0; margin:0 auto; width:870px; float:left; height:200px;	}
#block { z-index:0; position:relative; width:870px; height:142px; overflow:hidden; position:relative; padding: 5px 0px 5px 0px; margin:0 auto;}

/* foot鏍峰紡 */
.foot{ width:100%; height:135px; margin-top:10px; background:#d7d7d7;}
/* .foot ul{ background: no-repeat left center; width:740px; height:115px; margin:0 auto; padding-left:220px; padding-top:20px;}
 */.foot .wenzi{ background:#e9e9e9; padding:2px; text-align:center; line-height:24px; border:1px solid #ccc;}

/*浜岀骇椤甸潰鏍峰紡 */
.banner_230{ width:994px; height:230px; text-align: center;}
.ejym_left{ width:222px; float:left;}
.ejym_right{ width:727px; float:right;}
.ejym_right .title{ background:url(../images/index_21.jpg); width:727px; height:28px; color:#FFF; text-indent:25px; line-height:28px; font-size:14px;}
.ejym_right ul{ width:705px; border:1px solid #CCC; border-top:0px; padding:10px;}
.ejym_right ul li{ line-height:26px; padding:2px 0; border-bottom:1px dotted #ccc;text-indent:15px;}
.ejym_left{ width:222px; float:left;}

.qyjs_nr ul{ }
.qyjs_nr p{ text-indent:25px;}
.qyjs_nr h1{ margin:10px 0; line-height:36px; font-size:16px; text-align: center;}


.cpzs_nr {}
.cpzs_nr .pic_01{ float:left; width:206px; margin:14px;}
.cpzs_nr .pic_01 img{ width:200px; border:1px solid #CCC; padding:1px;}
.cpzs_nr .pic_01 p{ text-align: center;}

.cpzs_nr .pic_02{ float:left; width:346px; margin:3px; }
.cpzs_nr .pic_02 img{ width:340px; border:1px solid #CCC; padding:1px;}
.cpzs_nr .pic_02 p{ text-align: center; line-height:32px;}
.cpzs_nr  h1{ margin:10px 0; line-height:36px; font-size:16px; text-align: center;}
.mun{ width:222px;}
.mun .title{ background:url(../images/index_22.jpg); height:47px; width:222px; position:relative;}
.mun .title .dz{ position:absolute; left:15px; top:10px; height:30px; font-size:18px; color:#FFF; line-height:30px;}
.mun .title em{ font-size:12px; left:90px; height:20px; top:20px; color:#FFF; line-height:20px; position:absolute;}

/*绔栧鑸牱寮�*/
.glossymenu{list-style-type: none;padding: 0;width: 220px;border: 1px solid #cfcfcf;border-bottom-width: 0;border-top-width: 0;}
.glossymenu li a{background: white  url(../images/nav_b.jpg) repeat-x bottom left;font: bold 12px "寰蒋闆呴粦", "Trebuchet MS", Verdana, Helvetica, sans-serif;color: white;display: block;width: auto;height:20px;line-height:20px;padding: 3px 0; text-indent:45px; text-decoration: none;}
* html .glossymenu li a{ /*IE only. Actual menu width minus left padding of A element (10px) */
width: 220px;
}.glossymenu li a:visited, .glossymenu li a:active{color: white;}
.glossymenu li a:hover{background-image: url(../images/nav_a.jpg);color:#00407f;}
